@font-face{
     font-family: "Courgette-Regular";
      src: url("./assets/Courgette-Regular.ttf");
}

@font-face{
     font-family: "Gentium-Plus";
     src: url("./assets/Gentium Plus.ttf");
}

@font-face{
     font-family: "Gentium-Plus";
     src: url("./assets/GentiumPlus-Bold.ttf");
     font-weight: bold;
}

@font-face{
     font-family: "Gentium-Plus";
     src: url("./assets/GentiumPlus-Italic.ttf");
     font-style: italic;
}


@font-face{
     font-family: "Kalocsai_Flowers";
      src: url("./assets/Kalocsai_Flowers.ttf");
}
